.venv/
__pycache__/
*.pyc
.env
processed/
*.db
.DS_Store
OCR_Server.spec
OCR_Server_v2.0.zip
OCR_Server_v2.0
GPS_OCR_App_v1.0.zip
/WhatsupAccess.py
/dist/
/bootstrap_v2.py
/bootstrapv1.py
/build.bat
/build_v2.bat
/build/